<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756165085670-865cg445c1jgebnm09vgbn7ogns39k50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756165085670-865cg445c1jgebnm09vgbn7ogns39k50</string>
	<key>API_KEY</key>
	<string>AIzaSyDE0f1gQGM6iCa6TRLQ1U7EIk7bBkcpGqY</string>
	<key>GCM_SENDER_ID</key>
	<string>756165085670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seeti.multipleCounterApp</string>
	<key>PROJECT_ID</key>
	<string>multiplecounterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>multiplecounterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756165085670:ios:a2224ba0081a6c796fee27</string>
</dict>
</plist>